@import "~src/assets/styles/colors";

.navbar {
  background-color: #fff !important;
  border-bottom: 3px solid $main-color;
  color: $main-color !important;
  &-logo {
    max-width: 120px;
    height: auto;
  }
  &-collapse {
    justify-content: flex-end;
  }
  .nav-link.disabled {
    color: $main-color;
  }
}
