<div class="login-container">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-md-6 col-xs-10 offset-xl-4 offset-md-3 offset-xs-1">
        <section class="login-section login">
          <header class="header_logo">
            <img src="assets/images/logo.svg" alt="Prognolite" id="login_logo">
          </header>
          <div class="body">
            <form class="login-form">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password">
              </div>
              <div class="btn-toolbar">
                <a class="btn">Forgot password</a>
                <button class="btn loginBtn" routerLink="/packages">Login</button>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
